<launch>
  <node pkg="data_replay" name="data_replay_node" type="data_replay_node" output="screen" >

  <param name="imu2_path" type="string" value="/home/midea/Downloads/mower_data/5_23/imu_/imu2_2017_08_05_17_12_35.txt" />
  <param name="odom_path" type="string" value="/home/midea/Downloads/mower_data/5_23/imu_/odom_2017_08_05_17_12_35.txt" />
  <param name="gps_path" type="string" value="/home/midea/Downloads/mower_data/5_23/imu_/bestpos_2017_08_05_17_12_35.txt" />
  <param name="imu_path" type="string" value="/home/midea/Downloads/data_publisher/dataset/imu.txt" />
  <param name="localization_path" type="string" value="/midea_robot/ros2_ws/" />
  <param name="log_file_path_prefix" type="string" value="/midea_robot/ros2_ws/log" />

  <param name="imu_replay" type="bool" value="false" />
  <param name="imu2_replay" type="bool" value="false" />
  <param name="odom_replay" type="bool" value="false" />
  <param name="gps_replay" type="bool" value="false" />
  <param name="localization_replay" type="bool" value="false" />
  <param name="all_replay" type="bool" value="true" />
  
  <param name="rate" type="int" value="500" />
  <param name="IsAcc" type="bool" value="true" />
  <param name="Accelerate" type="int" value="100" />
  
  </node>
</launch> 
